.navbar {  
  width: 60%;
}

.navbar button {
  font-size: 1.5rem;     
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  border-radius: 25px;
  background-color: blue;
  box-shadow: 0 0 20px #a54ef7;
  color: #fff;  
  margin: 2rem;
}

.navbar button:hover {
  background-color: #f30b0b;  
  color: #e6dede;
  transition: 0.5s;  
  cursor: pointer;
  width: 9rem;
  height: 4rem;
  font-size: 1.6rem;
}