.navbar {
  width: 30rem;
  display: flex;
  justify-content: space-between;  
}

.navbar button {
  text-decoration: none;
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;   
  color: #fff;
  padding: 1rem; 
  margin: 1rem;
  cursor: pointer;
  border-radius: 30px;
  background-color: blue;
  box-shadow: 0 0 20px blueviolet;
}

.navbar button:hover {
  background-color: #f30b0b;  
  color: #e6dede;
  transition: 02s;
}